let
    @a: 100
    @b: 200
    @c: 300px
    @d: #FFF

section
    xcolor: @d

.red
    font-size: 30px
    color: #FF0000

.blue
    font-size: 30px
    color: #0000FF

#blue
    font-size: 15px
    color: #0000FF
    border-radius: 2

#red
    font-size: 15px
    color: #FF0000
